.home-page{
    min-height: 100vh;
    background-color: whitesmoke;
    position: relative;
    padding: 15px 15px;
    -webkit-box-shadow: -2px 4px 42px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 4px 42px -4px rgba(0,0,0,0.75);
    box-shadow: -2px 4px 42px -4px rgba(245, 242, 241, 0.75);
}